

.hero button{
    padding: 1em 1.5em;
    border-radius: .5rem;
    border: none;
    box-shadow: 0px 4px 9px 6px rgba(0,0,0,0.16);
    font-size: .8rem;
}

.chrome-btn{
    background-color: hsl(231, 69%, 60%);
    color: white;
    margin-right: .5em;
}

.hero button:hover{
    background-color: grey;
}

/* Features  */

.features{
    overflow: hidden;
}

.features-tabs{
    width: 100%;
    margin-bottom: 4em;
}

.fet-line{
    border: solid 1px black;
    opacity: 10%;
    width: 100%;
}

.features li{
    padding: 1em;
}

.features a{
    text-decoration: none;
    color: black;
}

.features a:hover{
    border-bottom: solid red 2px;
    opacity: 50%;
}

.features a:focus{
    border-bottom: solid red 2px;
}



.more-info{
    padding: .5em 1em;
    color: white;
    background-color: hsl(231, 69%, 60%);
    border: none;
}

.more-info:hover{
    background-color: grey;
    border: solid 2px white;
}

.download-btn{
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: white;
    padding: 1.25em;
    width: 80%;
    border-radius: .5em;
}

.download-btn:hover{
    border: solid white 3px;
    color: white;
}

input{
    padding: 1em 5em;
    margin-bottom: 1em;
    border-radius: .5rem;
    border: none;
}

#submit{
    color: white;
    background-color: hsl(0, 94%, 66%);
}

#submit:hover{
    background-color: white;
    color: red;
    border: solid red 2px;
}

.footer-nav a:hover{
    color: hsl(0, 94%, 66%);
}