

.hero button{
    padding: 1em 1.5em;
    border-radius: .5rem;
    border: none;
    box-shadow: 0px 4px 9px 6px rgba(0,0,0,0.16);
    font-size: .8rem;
}

.chrome-btn{
    background-color: hsl(231, 69%, 60%);
    color: white;
    margin-right: .5em;
}

.hero button:hover{
    background-color: grey;
}

/* Features  */


.features-tabs{
    width: 100%;
    margin-bottom: 4em;
}

.fet-line{
    border: solid 1px black;
    opacity: 10%;
    width: 90%;
}

.features li{
    padding: 1em;
}

.more-info{
    padding: .5em 1em;
    color: white;
    background-color: hsl(231, 69%, 60%);
    border: none;
}

.more-info:hover{
    background-color: grey;
    border: solid 2px white;
}