
/*//////////// GOOGLE FONTS IMPORT  ////////////*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*font-family: 'Rubik', sans-serif;*/

/*//////////// STYLESHEETS  ////////////*/

@import url(navigation.css);
@import url(Buttons.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*//////////// LAYOUT  ////////////*/

body{
    font-family: 'Rubik', sans-serif;
}

header{
    margin-bottom: 5em;
}


.container{
    padding: 2em 1em;
    background-color: bisque;
    height: 100vh;
    min-width: 300px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.background-tube{
    background-color: aqua;
    border-radius: 7rem 0 0 7rem;
    position: absolute;
    width: 100%;
}


.hero img{
    max-width: 350px;
    min-width: 300px;
}

.hero-content{
    line-height: 1.5rem;
    padding: 1.5em;
}


/*//////////// TYPEOGRAPHY  ////////////*/


.hero h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: .5em;
}

.hero p{
    margin-bottom: 2em;
}


li{
    list-style: none;
    margin: 0 1em;
}


/* Media Queries */

@media (max-width: 675px){
    .nav-menu{
        display: none;
    }


}




@media (min-width: 675px) {
    .hamburger{
        display: none;
    }

    .mobile-nav.active{
        display: none;
    }

    .container{
        padding: 3em 10em;
    }

    .hero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .hero-img{
        max-width: 50%;
    }

    .hero img{
        min-width: 70%;
    }

    .hero-content{
        width: 50%;
        text-align: left;
    }
}
    
