 
 
 /* Mobile nav */
    .hamburger{
        cursor: pointer;
    } 
    

    .nav-menu{
        display: flex;
    }




    /* Desktop Nav */
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }